page-home {
    .content-header {
      padding: 0;
        ion-row {
          margin: 5px 0;
            ion-col {
              padding:10px 0;
                background-color: #f9f9f9;
                color: #666;
                ion-icon{
                  font-size: 20px;
                  font-weight: 100;
                }
                span{
                  font-size: 16px;
                }
            }
        }
    }
    ion-list {
        ion-item {
            background-color: #f9f9f9;
            color: #f1f1f1;
        }
        button {
            background-color: #f9f9f9;
            color: #f1f1f1;
        }
    }
    .feature-cards{
      ion-col{
        background-color: #f9f9f9;
        margin: 1% 1%;
        height: 100px;
        text-align: center;
        ion-icon{
          font-size: 65px;
        }
        span{
          font-size: 14px;
        }
      }
      [col-5]{
        width: 48%;
        flex: 0 0 48%;
        max-width: 48%;
      }
    }
}
