<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Earn Free Cash</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid class="content-header">
      <ion-row>
          <ion-col col-12 text-center>
            <span class="name">Welcome back {{userProfile?.displayName}}</span>
          </ion-col>
        </ion-row>
    <ion-row>
      <ion-col col-2 text-center>
        <ion-icon name="logo-usd"></ion-icon>
      </ion-col>
      <ion-col col-8>
        <span *ngIf="!userBalanceDetails">0 Points</span>
          <span *ngIf="userBalanceDetails && userBalanceDetails.claimedBalance">{{userBalanceDetails.claimedBalance}} Points</span>
      </ion-col>
      <ion-col col-2 text-center>
        <!-- <ion-icon name="ios-arrow-forward-outline"></ion-icon> -->
      </ion-col>
    </ion-row>
    <ion-row (click)="goToWithdraw()">
      <ion-col col-2 text-center>
        <ion-icon name="logo-usd"></ion-icon>
      </ion-col>
      <ion-col col-8>
        <span>Withdraw money</span>
      </ion-col>
      <ion-col col-2 text-center>
        <ion-icon name="ios-arrow-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="feature-cards" no-padding>
    <ion-row>
      <ion-col col-5 (click)="goToClaim()">
        <ion-icon name="ios-cash-outline"></ion-icon><br />
        <span>Claim Money</span>
      </ion-col>
      <ion-col col-5 (click)="goTOWheel()">
        <ion-icon name="ios-nuclear-outline"></ion-icon><br />
        <span>Try your luck</span>
      </ion-col>
    </ion-row>
    <ion-row>
     <ion-col col-5 (click)="goToTransactionHistory()">
        <ion-icon name="ios-cash-outline" ></ion-icon><br />
        <span>Transaction History</span>
      </ion-col>
      <ion-col col-5 (click)="goToWatchVideoSection()">
          <ion-icon name="ios-cash-outline"></ion-icon><br />
          <span>Earn Extra Points</span>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5 (click)="goToContactUsPage()">
        <ion-icon name="ios-call-outline"></ion-icon><br />
        <span>Contact Us</span>
      </ion-col>
      <ion-col col-5 (click)="goToHelpPage()">
          <ion-icon name="ios-help-circle-outline"></ion-icon><br />
          <span>Help</span>
        </ion-col>
    </ion-row>
    <ion-row>
    </ion-row>

  </ion-grid>
</ion-content>
