page-help {
 ion-card{
   .faq-card-header{
    background-color: #be1f24;
    color: white;
    padding: 10px;
    font-size: 16px;
    white-space: normal;
   }
   .faq-content-header{
    color: #666;
    margin-top: 10px;
    padding: 10px;
    font-size: 14px;
   }
 }
}
