
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Lucky Spin</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid class="content-header">
    <ion-row>
      <ion-col col-7>
        <span>Total Points Earned </span>
      </ion-col>
      <ion-col col-5 text-right>
        <span *ngIf="userBalanceDetails && userBalanceDetails.claimedBalance">{{userBalanceDetails.claimedBalance}}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-10>
        <span>Earn More Spin</span>
    </ion-col>
    <ion-col col-2 text-center>
      <ion-icon name="ios-arrow-forward-outline"></ion-icon>
    </ion-col>
    </ion-row>
</ion-grid>

  <spin-wheel [spinWheelData]="spinWheelData" (winningNumbers)="claimPoints($event)"></spin-wheel>

  <ion-grid class="content-header points">
    <ion-row color="secondary"  *ngIf="userBalanceDetails && (userBalanceDetails.spinWheelTime >  userBalanceDetails.currentTime)">
      <ion-col col-7 >
        <span>Come Back in </span>
      </ion-col>
      <ion-col col-5 text-right>
        <span>{{(userBalanceDetails.spinWheelTime - userBalanceDetails.currentTime) + (30*60*1000)  | date:'mm:ss'}}</span>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="userBalanceDetails && (userBalanceDetails.spinWheelTime <  userBalanceDetails.currentTime)">
      <ion-col col-12 color="secondary" text-center>
        <span>Spin Now</span>
      </ion-col>
    </ion-row>
</ion-grid>

</ion-content>
