
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Withdraw</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <ion-grid class="content-header">
    <ion-row>
      <ion-col col-12>
        <span class="wallet-details">Paytm Number: </span><span class="wallet-address" *ngIf="phoneNumber"> {{ phoneNumber?.phoneNumber}}</span>
        <span class="wallet-address" *ngIf="!phoneNumber">Add mobile number in order to get payments in accounts section.</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <span class="wallet-details">Paypal Email: </span> <span class="wallet-address" *ngIf="userProfile">{{ userProfile?.email}}</span>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card class="card-block" (click)="paymentDetail(5000, 'paytm', '10 Rs.')">
    <ion-card-header class="header">
      <span class="pay">PAY</span><span class="tm">TM</span>
    </ion-card-header>
    <ion-card-content>
      <span class="coin">5000 Coins</span>
      <span class="money">Rs.10</span>
    </ion-card-content>
  </ion-card>
  <ion-card class="card-block" (click)="paymentDetail(10000, 'paytm', '25 Rs.')">
    <ion-card-header class="header">
      <span class="pay">PAY</span><span class="tm">TM</span>
    </ion-card-header>
    <ion-card-content>
      <span class="coin">10,000 Coins</span>
      <span class="money">Rs.25</span>
    </ion-card-content>
  </ion-card>
  <ion-card class="card-block" (click)="paymentDetail(15000, 'paytm', '40 Rs.')">
    <ion-card-header class="header">
      <span class="pay">PAY</span><span class="tm">TM</span>
    </ion-card-header>
    <ion-card-content>
      <span class="coin">15,000 Coins</span>
      <span class="money">Rs.40</span>
    </ion-card-content>
  </ion-card>
  <ion-card class="card-block" (click)="paymentDetail(12000, 'paypal', '0.5 $')">
    <ion-card-header class="header">
      <span class="pay">Pay</span><span class="tm">Pal</span>
    </ion-card-header>
    <ion-card-content>
      <span class="coin">12,000 Coins</span>
      <span class="money">0.5 $</span>
    </ion-card-content>
  </ion-card>
  <ion-card class="card-block" (click)="paymentDetail(17000, 'paypal', '1 $')">
    <ion-card-header class="header">
      <span class="pay">Pay</span><span class="tm">Pal</span>
    </ion-card-header>
    <ion-card-content>
      <span class="coin">17,000 Coins</span>
      <span class="money">1 $</span>
    </ion-card-content>
  </ion-card>
  <ion-card class="card-block" (click)="paymentDetail(25000, 'paypal', '2 $')">
    <ion-card-header class="header">
      <span class="pay">Pay</span><span class="tm">Pal</span>
    </ion-card-header>
    <ion-card-content>
      <span class="coin">25,000 Coins</span>
      <span class="money">2 $</span>
    </ion-card-content>
  </ion-card>
</ion-content>
