<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Transaction History</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div  *ngIf="withdrawRequestDetails">
      <ion-card class="transactions"  *ngFor="let withdrawReq of withdrawRequestDetails">
          <ion-card-content>
            <ion-row>
              <ion-col col-6 class="head" text-left>Wallet Address:</ion-col>
              <ion-col col-6 class="value" text-right> {{withdrawReq.walletAddress}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-6 class="head" text-left>Amount:</ion-col>
              <ion-col col-6 class="value" text-right> {{ withdrawReq.amount }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-6 class="head" text-left>Date of Request:</ion-col>
              <ion-col col-6 class="value" text-right> {{withdrawReq.requestedDate | date}}</ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
  </div>

</ion-content>
