page-watch-video {
  .content-header {
    padding: 0;
    ion-row {
        margin: 5px 0;
        ion-col {
            padding: 10px 0;
            background-color: #f9f9f9;
            color: #666;
            ion-icon {
                font-size: 20px;
                font-weight: 100;
            }
            span {
                font-size: 16px;
                padding: 0 20px;
            }
        }
    }
}
.points {
    margin-top: 20px;
}
.details {
    margin: 5% 0;
    color: white; // background: white;
    font-weight: 300;
    .left {
        width: 50%;
        float: left;
    }
    span {
        font-size: 16px;
        display: inline-block;
    }
    .right {
        width: 48%;
        float: right;
        margin-right: 5px;
    }
}
.timer {
    color: #666;
    font-size: 50px;
    text-align: center;
}
.buttons{
  text-transform: inherit;
}
}
.alert-md .alert-head {
background-color: map-get($colors, secondary);
color: white;
padding: 14px 0;
.alert-title {
  font-size: 18px;
  text-align: center;
}
}

.alert-md .alert-message {
font-size: 16px;
padding: 10px 15px;
}

.alert-button-group {
margin: 0 auto;
padding: 0 !important;
.alert-button {
  color: map-get($colors, secondary);
}
}
