<ion-header>

  <ion-navbar color="secondary">
    <ion-title>My Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >
  <div *ngIf="userProfile">
  <div text-center>
  <ion-img height="100" width="100" [src]="userProfile?.photoURL"></ion-img>
</div>
  <ion-grid>
    <ion-row>
      <ion-col col-3 class="field" text-left>Name:</ion-col>
      <ion-col col-9 class="value" >{{ userProfile?.displayName}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3 class="field" text-left>Email Id:</ion-col>
      <ion-col col-9 class="value" >{{ userProfile?.email}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3 class="field" text-left>Phone Number:</ion-col>
      <ion-col col-9 class="value" *ngIf="phoneNumber" >{{ phoneNumber?.phoneNumber}}</ion-col>
      <ion-col col-9 class="value" *ngIf="!phoneNumber" >Please add your mobile number in order to get payment.</ion-col>
    </ion-row>
  </ion-grid>
</div>
  <button ion-button  round outline (click)="goToUpdatePhoneNumber()">Add or Update your Phone Number</button>
</ion-content>
